body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.headerDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    font-size: 32px;
    padding: 20px;
}

.mainSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 40px;
}

#boom, #clap, #hihat, #kick, #openhat, #ride, #snare, #tink, #tom {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

#boom {
    background-color: #8a2be2;
}

#clap {
    background-color: orangered;
}

#hihat {
    background-color: greenyellow;
}

#kick {
    background-color: rgb(37, 121, 116);
}

#openhat {
    background-color: rgb(226, 198, 43);
}

#ride {
    background-color: rgb(226, 43, 83);
}

#snare {
    background-color: rgb(43, 101, 226);
}

#tink {
    background-color: rgb(43, 112, 26);
}

#tom {
    background-color: rgb(39, 25, 90);
}

#boomImage, #clapImage, #hihatImage, #kickImage, #openhatImage, #rideImage, #snareImage, #tinkImage, #tomImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Ensures the image doesn't repeat within the box */
    position: absolute;
}



#boomImage {
    background-image: url("https://cdn.pixabay.com/photo/2016/06/06/09/57/clef-1439137_1280.jpg");}
    #clapImage {
        background-image: url("https://cdn.pixabay.com/photo/2015/07/09/01/34/wallpapper-837204_1280.jpg");
    }
    #hihatImage {
        background-image: url("https://cdn.pixabay.com/photo/2018/01/26/18/17/drums-3109364_1280.jpg");
    }
    #kickImage {
        background-image: url("https://cdn.pixabay.com/photo/2017/10/23/20/47/background-2882485_1280.jpg");}
        #openhatImage {
            background-image: url("https://cdn.pixabay.com/photo/2017/11/02/20/31/guitars-2912447_1280.jpg");
        }  
    #rideImage {
            background-image: url( "https://cdn.pixabay.com/photo/2014/04/04/14/57/background-313583_1280.jpg");} 
    #snareImage {
                background-image: url("https://cdn.pixabay.com/photo/2023/06/01/09/29/wave-8033273_1280.jpg");}
             
    #tinkImage {
                    background-image: url("https://cdn.pixabay.com/photo/2018/03/19/18/11/music-3240719_1280.jpg");} 
    #tomImage {
                background-image: url("https://cdn.pixabay.com/photo/2018/04/11/23/20/musician-3312104_1280.jpg");}    
    
    